[Desktop Entry]
Type=Application
Name=LXInput autostart
Comment=Setup keyboard and mouse using settings done in LXInput
NoDisplay=true
Exec=sh -c 'xset m 20/10 10 r rate 500 33 b on; xinput --set-prop "pointer:Logitech M720 Triathlon" "libinput Accel Speed" 0.000000'
Exec = lxterminal --command="/home/pi/auto_start_core.sh"
NotShowIn=GNOME;KDE;XFCE;
